# Server Configuration
PORT=8080
NODE_ENV=development

# Database
MONGODB_URI=your_mongodb_connection_string

# Authentication
JWT_ACCESS_SECRET=a_long_jwt_access_secret
JWT_REFRESH_SECRET=a_long_jwt_refresh_secret
JWT_ACCESS_EXPIRES=7d
JWT_REFRESH_EXPIRES=90d
JWT_ISSUER=your_web_app_name
JWT_AUDIENCE=your_web_app_name-client

# Client URL (CORS)
CLIENT_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
